handlebars:
  suffix: .html
  enabled: true

spring:
  datasource:           # datasource 설정
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  h2:
    console:
      enabled: true     # h2 console 설정
  jpa:
    show-sql: true
    properties:
      hibernate:
        show_sql: true
    hibernate:
      ddl-auto: create

security:
  jwt:
    token:
      secret-key: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIiLCJuYW1lIjoiSm9obiBEb2UiLCJpYXQiOjE1MTYyMzkwMjJ9.ih1aovtQShabQ7l0cINw4k1fagApg3qLWiB8Kt59Lno
      expire-length: 3600000

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql : trace
